https://github.com/cesium-ml/cesium/archive/master.zip # >=0.4.0 once released
flask
stormpath>=2.1.9
git+git://github.com/stormpath/stormpath-flask.git@develop  # replace with Flask-Stormpath once they make a release with the Python 3 version
docker-py
parse
psutil>=2.2.1
rethinkdb
requests
colorlog
matplotlib>=1.5.0
pyyaml
waitress
tornado
pyzmq
