https://github.com/cesium-ml/cesium/archive/master.zip # >=0.4.0 once released
flask
stormpath>=2.1.9
Flask-Stormpath>=0.4.5
docker-py
parse
psutil>=2.2.1
rethinkdb
requests
colorlog
matplotlib>=1.5.0
pyyaml
waitress
tornado
pyzmq
